/ {
   reserved-memory {
		#address-cells = <0x02>;
		#size-cells = <0x02>;
      ranges;
  
      buffer@0x70000000 {
         no-map;
         reg = <0x00 0x70000000 0x00 0x00020000>;
      };
   };
};